@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

:root {
  font-family: 'Oswald', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: auto;
  min-width: 320px;
  max-width: max-content;
}

.header {
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

.topics {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  margin-top: -25px;
  max-width: 300px;

  a {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
    font-size: x-large;
  }

  a:before,
  a:after {
    content: "";
    position: absolute;
    transition: transform 0.5s ease;
  }

  a {
    padding-top: 10px;
  }

  a:before {
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
  }

  a:hover:before {
    transform: scaleX(1);
  }
}

.articles {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;

  article {
    padding: 0.65rem;
    max-width: 23.25rem;
    max-height: 5rem;
    margin-bottom: 1rem;
    cursor: pointer;

    border: 3px solid #FFFFFF;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem 0;

    h3 {
      margin: 0;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 18px;
      max-height: 35px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    h4 {
      margin: 0
    }

    h4:last-child {
      text-align: right;
    }

    .icons {
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      margin-right: -20px;

      .icon {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        text-align: center;

        span {
          margin-right: 10px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 0 0;
  }
}

.article {
  margin-top: 1.5rem;
  max-width: 30rem;

  .space {
    display: flex;
    justify-content: space-between;
  }

  h2,
  h3 {
    margin: 0;
  }

  .title {
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
  }

  .form {
    margin-bottom: 0.5rem;

    .username {
      margin: 0.25rem 0 0.5rem 0;
      display: grid;
      grid-template-columns: 0.8fr 0.2fr;
      gap: 1rem;

      input[type=text] {
        width: 100%;
      }

      input[type=button] {
        width: 105%
      }
    }

    textarea {
      width: 100%;
    }
  }

  .comments {
    padding-top: 1rem;
    border-top: 1px solid white;

    .comment {
      border: 1px solid #FFFFFF;
      border-radius: 10px;
      margin-bottom: 1rem;
      padding: 0.5rem;

      p {
        margin: 5px 0 0 0;
      }
    }
  }
}

.votes {
  width: 80px;
  margin-left: 1rem;

  .vote {
    margin-left: 0.5rem;
  }

  .like {
    cursor: pointer;
  }

  span {
    display: block;
    margin: auto 0;
    text-align: center;
    width: inherit;
  }
}